{{ counter }}
<div class="container">
  <h1>Events</h1>
  <div>
    <app-event-filters
      [filters]="listFilters"
      (filtersChange)="onFiltersChange($event)"
    ></app-event-filters>
    <span *ngIf="eventsLoading">Loading...</span>
    <table class="table" *ngIf="!eventsLoading">
      <thead>
        <th>Title</th>
        <th>Location</th>
        <th>Date</th>
        <th>Attending</th>
        <th>Status</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>
            {{ event.title }}
          </td>
          <td>
            {{ event.location }}
          </td>
          <td>
            {{ event.date }}
          </td>
          <td>
            {{ event.attending.length }}
          </td>
          <td>
            {{ event.status }}
          </td>
          <td>
            <button type="button" [routerLink]="['/events', event.id]">
              Edit
            </button>
            <button>Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
