<form [formGroup]="eventForm">
  <div>
    <label>Title:</label>
    <input type="text" name="title" formControlName="title" />
  </div>

  <div>
    <label>Date:</label>
    <input type="text" name="date" formControlName="date" />
  </div>
  <div>
    <label>Status:</label>
    <select name="status" formControlName="status">
      <option>{{ EventStatus.draft }}</option>
      <option>{{ EventStatus.published }}</option>
    </select>
  </div>

  <div>
    <button type="button">Cancel</button>
    <button type="submit">Save</button>
  </div>
</form>
